<!doctype html>
<html lang="es">
<head>
    <title>Loop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles_home.css">
</head>
<body>

    <!-- Fondo oscuro con overlay -->
    <div class="bg-overlay"></div>

    <div class="page">

        <!-- Header -->
        <header class="header">
            <div class="title-block">
                <p style="font-weight: 400;
                    color: #ffffff;
                    font-size: 20px;
                    letter-spacing: 1px;
                    margin: 0px;">Choose your</p>

                <h1 style="font-weight: 800;
                letter-spacing: -1px;
                font-size: 50px;
                color: #ffffff;
                margin: 0px;
                margin-bottom: 40px;">category</h1>
            </div>
        </header>

        <!-- Círculos -->
       <main class="circles-wrapper">

            <div class="row-circles">
                <div class="circle-item">
                    <a href="habitos.html" class="circle-btn circle-habitos">
                        <img src="../assets/SVG/habit.svg" alt="Habit" class="icon-svg">
                    </a>
                    <span class="label">Habit Tracker</span>
                </div>
                <div class="circle-item">
                    <a href="salud_mental.html" class="circle-btn circle-salud-mental">
                        <img src="../assets/SVG/mental.svg" alt="Mental Health" class="icon-svg">
                    </a>
                    <span class="label">Mental Health</span>
                </div>
            </div>

            <div class="row-circles">
                <div class="circle-item">
                    <a href="journal.html" class="circle-btn circle-diario">
                        <img src="../assets/SVG/journal.svg" alt="Journal" class="icon-svg">
                    </a>
                    <span class="label">Journal</span>
                </div>
                <div class="circle-item">
                    <a href="mood.html" class="circle-btn circle-mood">
                        <img src="../assets/SVG/mood.svg" alt="Mood" class="icon-svg">
                    </a>
                    <span class="label">Mood Tracker</span>
                </div>
            </div>

            <div class="row-circles">
                <div class="circle-item">
                    <a href="settings.html" class="circle-btn circle-ajustes">
                        <img src="../assets/SVG/settings.svg" alt="Settings" class="icon-svg">
                    </a>
                    <span class="label">Settings</span>
                </div>
            </div>

        </main>
    </div>

</body>
</html>